<!-- sidebar START -->
<div id="sidebar">

<!-- sidebar north START -->
<div id="northsidebar" class="sidebar">

	<!-- feeds -->
	<div class="widget widget_feeds">
		<div class="content">
			<div id="subscribe">
				<a rel="external nofollow" id="feedrss" title="Subscribe to this blog..." href="/feed.xml"><abbr title="Really Simple Syndication">RSS</abbr></a>
							</div>
						<div class="fixed"></div>
		</div>
	</div>

	<!-- showcase -->
	
<div id="pages-2" class="widget widget_pages"><h3>Pages</h3>		<ul>
			<li class="page_item page-item-193"><a href="/about/">About &#8230;</a></li>
<li class="page_item page-item-105"><a href="/kleines-tourenbuch/">Kleines Tourenbuch</a></li>
		</ul>
		</div></div>
<!-- sidebar north END -->

<div id="centersidebar">

	<!-- sidebar east START -->
	<div id="eastsidebar" class="sidebar">
	<div id="text-5" class="widget widget_text">			<div class="textwidget"></div>
		</div>	</div>
	<!-- sidebar east END -->

	<!-- sidebar west START -->
	<div id="westsidebar" class="sidebar">
	<div id="text-6" class="widget widget_text">			<div class="textwidget"></div>
		</div>	</div>
	<!-- sidebar west END -->
	<div class="fixed"></div>
</div>

<!-- sidebar south START -->
<div id="southsidebar" class="sidebar">
<div id="categories-3" class="widget widget_categories"><h3>Categories</h3>		<ul>
	<li class="cat-item cat-item-3"><a href="/category/admin-stuff/" title="View all posts filed under Admin stuff">Admin stuff</a>
</li>
	<li class="cat-item cat-item-4"><a href="/category/misc/" title="View all posts filed under Misc">Misc</a>
</li>
	<li class="cat-item cat-item-5"><a href="/category/programming-stuff/" title="View all posts filed under Programming stuff">Programming stuff</a>
<ul class='children'>
	<li class="cat-item cat-item-6"><a href="/category/ruby-rails/" title="View all posts filed under Ruby || Rails">Ruby || Rails</a>
</li>
</ul>
</li>
	<li class="cat-item cat-item-7"><a href="/category/tourenbuch/" title="View all posts filed under Tourenbuch">Tourenbuch</a>
</li>
		</ul>
</div></div>
<!-- sidebar south END -->

</div>
<!-- sidebar END -->
